#name{
  top:16.2%;
  left:26.4%;
  width:51%;
  height:0.5%;
}

#address{
  top:17.4%;
  left:35%;
  width:42.5%;
  height:0.5%;
}

#city{
  top:18.6%;
  left:24.5%;
  width:25%;
  height:0.5%;
}

#state{
  top:18.6%;
  left:56%;
  width:3.3%;
  height:0.5%;
}

#zip{
  top:18.6%;
  left:69.5%;
  width:8.8%;
  height:0.5%;
}

#phone{
  top:19.85%;
  left:32%;
  width:20%;
  height:0.5%;
}

#cell{
  top:19.85%;
  left:61.5%;
  width:16.5%;
  height:0.5%;
}

#email{
  top:21.05%;
  left:26.6%;
  width:51.5%;
  height:0.5%;
}

#checkbox-large{
  width:3%;
  height:0.7%;
  border:2px solid #0071B7;
  position:absolute;
  top:23.6%;
  left:23.25%;
  line-height:80%;
  text-align:center;
  font-size:200%;
  color:#0071B7;
}

#checkbox-mid{
  width:2%;
  height:0.5%;
  border:2px solid #0071B7;
  position:absolute;
  top:25.0%;
  left:23.25%;
  line-height:80%;
  text-align:center;
  font-size:140%;
  color:#0071B7;
}

#checkbox-small{
  width:1.4%;
  height:0.3%;
  border:2px solid #0071B7;
  position:absolute;
  top:26.4%;
  left:23.35%;
  line-height:80%;
  text-align:center;
  font-size:100%;
  color:#0071B7;
}

#radio-large span{
  float:left;
  width:100%;
  height:100%;
  text-align:center;
  line-height:36%;
  margin-left:-12%;
  font-size:300%
}

#radio-large{
  width:2.7%;
  height:0.7%;
  border:2px solid #0071B7;
  position:absolute;
  top:28.18%;
  left:23.55%;
  color:#0071B7;
}

#radio-mid span{
  float:left;
  width:100%;
  height:100%;
  margin-left:-20%;
  line-height:30%;
  text-align:center;
  font-size:220%;
}

#radio-mid{
  width:1.8%;
  height:0.45%;
  border:2px solid #0071B7;
  position:absolute;
  top:29.18%;
  left:23.45%;
  color:#0071B7;
}

#radio-small span{
  float:left;
  width:100%;
  height:100%;
  margin-left:-20%;
  line-height:25%;
  text-align:center;
  font-size:180%;
}

#radio-small{
  width:1.5%;
  height:0.35%;
  border:2px solid #0071B7;
  position:absolute;
  top:36.90%;
  left:23.55%;
  color:#0071B7;
}

.signbox{
  top:44.85%;
  left:24.4%;
  width:28.5%;
  height:50px;
  position:absolute;
}

.signpic{
  float:left;
  width:70%;
  margin:2px;
}

.sign{
  position: relative;
  background:#fff;
  border:5px solid #4FA0BD;
  z-index:99999;
  top:-40px;
  left:-110px;
  width:260%;
  overflow: hidden;
  box-shadow:3px 3px 6px #999;
  padding-bottom:10px;
}

.sign h4{
  float:left;
  width:100%;
  height:50px;
  color:#666;
  top:0;
  margin:0px 0;
  line-height:50px;
  border-bottom:1px solid #ddd;
}


.signbox .clicktosign{
  background:#E7F6FB;
  float:right;
  height:80%;
  width:20%;
  line-height:50px;
  border:2px solid #0071B7;
  border-radius:5px;
  color:#0071B7;
  cursor:pointer;
  font-size:100%;
}

.signbox .clicktosign:hover{
  text-decoration:underline;
}

#datebox input{
  top:45.4%;
  left:59%;
  width:16.5%;
  height:20px;
  position:absolute;
}

.signtools{
  width:100%;
  text-align:center;
}

.signtools span{
  width:50px;
  font-size:14px;
  color:#2581C0;
  background:#E7F6FB;
  margin:0px 5px 10px;
  padding:5px 10px;
  border-radius:3px;
  cursor:pointer;
  border:1px solid #CFE0E5;
}

.signtools span:hover{
  border-color:#4091A9;
}

#multitext1{
  position:absolute;
  top:71.8%;
  left:6%;
  width:90.55%;
  height:7.6%;
  resize:none;
}

#multitext2{
  position:absolute;
  top:80.8%;
  left:6%;
  width:90.55%;
  height:7.98%;
  resize:none;
}